

body {
    background: url(../img/back.png) no-repeat center center fixed;
    background-size: cover;
}
h2{
    color: white;
    margin-top: 5%;
}
 .main-section{
     margin:0 auto;
     margin-top:25%;
     padding:0;
 }

 .modal-content{
     background-color: #3b4652;
     opacity: .95;
     padding: 0 20px;
     box-shadow: 0px 0px 3px #848484;
 }

 .btn{
    margin-top:5%;
 }

 .form-group input{
     height: 42px;
     font-size: 18px;
     border:0;
     padding-left: 54px;
     border-radius: 5px;
 }

.form-group::before{
    font-family:"Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size:22px;
    padding-top: 4px;
}

 .form-group#user-group::before{
     content: "\f007";
 }

 .form-group#contrasena-group::before{
    content: "\f005";
}
